
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  height: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

i {
  transition: all 0.5s;
  font-size: 3.5vw;
}

i:hover {
  transition: all 0.5s ease-in-out;
}

.fa-at:hover {
  color: #ea4335;
  text-shadow: 0 0 0.125em #ea4335;
}

.fa-linkedin:hover {
  color: #0A66C2;
  text-shadow: 0 0 0.125em #0A66C2;
}

.fa-discord:hover {
  color: #5865F2;
  text-shadow: 0 0 0.125em #5865F2;
}

.fa-github:hover {
  color: #181717;
  text-shadow: 0 0 0.125em #181717;
}

canvas {
  position: absolute;
  top: 0;
}

#layer0{
  /* display:none; */
  z-index: -30;
}
#layer1{
  z-index: -2;
  /* display:none; */
}
#layer2{
  z-index: -1;
  /* display:none; */
}

#randomTextLayer0{
  display:none;
  z-index: -20;
}
#randomTextLayer1{
  z-index: -19;
  display:none;
}
#randomTextLayer2{
  z-index: -18;
  display:none;
}


.main {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons {
  width: 50vw;
  border-top: 4px solid #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
  margin: auto;
  display: flex;
}

.icons a {
  margin: 2vh auto 2vh auto;
  width: 4vw;
}

.name {
  font-weight: 100;
  font-size: 6.5vw;
  font-family: Major Mono Display;
}

.sd {
  font-weight: 800;
  font-size: 3vw;
  text-align: center;
  font-family: 'Nova Mono', monospace;
  margin-bottom: 4vh;
}

@media only screen and (max-width: 600px) {
  .icons {
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
  }
  .icons a{
    margin: 1vh auto 1vh auto;
  }
}